@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
@import "tailwindcss";

@theme {
  --color-brand: #ffc400;
  --color-brand-hover: #ebaf00;

  --color-navy: #071e32;
  --color-navy-dark: #041421;

  --color-background: #f8fafc;
  --color-surface: #ffffff;

  --color-text: #102235;
  --color-text-muted: #64748b;

  --color-border: #e2e8f0;

  --color-success: #16a34a;
  --color-danger: #dc2626;
}


@font-face {
  font-family: "Libron";
  src: url("./assets/fonts/Libron-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libron";
  src: url("./assets/fonts/Libron-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libron";
  src: url("./assets/fonts/Libron-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Libron";
  src: url("./assets/fonts/Libron-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-display: "Libron", serif;
  --font-sans: "Manrope", sans-serif;
}